@import "tailwindcss";

/* General */

:root {
  --background: #080c11;
  --primary: #83cee5;
  --secondary: #1e2e39;
  --glass: #0b151daa;
  --primary-txt: #ebf3f4;
  --secondary-txt: #d9ecf6;
  --error: #f44336;

  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-txt: var(--primary-txt);
  --color-secondary-txt: var(--secondary-txt);
  --color-error: var(--error);
  --color-glass: var(--glass);
}

body {
  background: linear-gradient(
    180deg,
    var(--background) 25%,
    #04121d 50%,
    var(--background) 75%
  );
}

h1,
h2,
h3,
button {
  color: var(--primary-txt);
}

p {
  color: var(--secondary-txt);
}

footer {
  background: #0002;
  backdrop-filter: blur(10px);
  border-top: 1px solid #83cee599;
}

