@import "tailwindcss";

/* General */

:root {
  --background: #0b151d ;
  --primary: #8D99AE ;
  --secondary: #BDC3C7 ;
  --glass: #0b151daa;
  --primary-txt: #EDF2F4 ;
  --secondary-txt: #1E90FF;
  --error: #EF233C;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-txt: var(--primary-txt);
  --color-secondary-txt: var(--secondary-txt);
  --color-error: var(--error);
  --color-glass: var(--glass);
}

body {
  background:var(--background);
}

h1{
  color: var(--primary-txt);
}
